services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: shrtkt
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5

  shrtkt-api:
    build:
      context: .
      dockerfile: Dockerfile # Your updated Dockerfile for Ktor
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: shrtkt
      DB_USER: postgres
      DB_PASSWORD: password
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4g

volumes:
  postgres_data: